@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --font-heading: "Young Serif", sans-serif;
  --font-text: "Outfit", sans-serif;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 700;
}

body {
  min-height: 100%;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-weight: var(--fw-n);
}

img {
  display: block;
  max-width: 100%;
}

.rounded-corner {
  border-radius: 12px;
}

.main {
  margin: 7.5rem auto;
  max-width: 46rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 24px;
}

[class*="heading"] {
  font-family: var(--font-heading);
  font-weight: var(--fw-n);
}

.main-heading {
  color: var(--stone-900);
  font-size: 2.5rem;
  margin: 0.75em 0 0.35em;
}

.description {
  margin-bottom: 32px;
}

.sub-heading {
  color: var(--brown-800);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.preparation .sub-heading {
  font-family: var(--font-text);
  font-size: 1.25rem;
  margin: 8px 0 12px;
}

.preparation {
  padding: 14px 28px 22px;
  background-color: var(--rose-50);
  margin-bottom: 20px;
}

[class*="rose"] li::before,
.sub-heading.rose {
  font-weight: var(--fw-m);
  color: var(--rose-800);
}

[class*="brown"] li::before,
.nutrition .brown {
  color: var(--brown-800);
}

.nutrition.table {
  width: 100%;
  margin-top: 24px;
}

.nutrition.table .flex {
  border-bottom: 1px solid var(--stone-150);
  padding: 12px 12px 11px 32px;
}

.nutrition.table .flex:last-child {
  border: none;
  padding-bottom: 0;
}

.nutrition.table .flex:first-child {
  padding-top: 0;
}

td {
  width: 50%;
}

li,
.flex {
  display: flex;
  align-items: center;
}

.bold,
li::before {
  font-weight: var(--fw-b);
}

li::before {
  min-width: 33px;
}

.bullet li::before {
  content: "• ";
}

.ordered li::before {
  content: counter(ordered) ".";
  counter-increment: ordered;
}

.bullet,
.ordered {
  counter-reset: ordered;
  padding: 0;
}

.ordered li:last-child,
.bullet li:last-child {
  padding-bottom: 4px;
}

.ordered li {
  align-items: flex-start;
  margin: 0 0 8px 8px;
}

.bullet li {
  margin: 0 0 8px 7px;
}

.top-rule {
  padding-top: 27px;
  border-top: 1px solid var(--stone-150);
  margin-top: 27px;
}

@media screen and (max-width: 46rem) {
  .main {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  .content {
    padding: 2.5rem 0;
    width: 82%;
    margin: 0 auto;
  }

  img.rounded-corner {
    border-radius: 0;
  }

  .main-heading {
    margin: 0 0 1.5rem;
    line-height: 1;
    font-size: 2.25rem;
  }

  .preparation {
    padding: 10px 24px 14px;
    margin: 32px 0px 24px;
  }
}
